* {
	margin: 0;
	padding: 0;
}

body {
	font-family: system-ui;
	width: 100%;
	overflow-x: hidden;
}

/* ##################################### le header ############################### */

header {
	background-color: white;
	text-align: center;
	width: 100%;
	padding: 0;
	position: sticky;
	margin-bottom: 0%;
	display: flex;
}

.aLogo {
	width: 100%;
}

header img {
	margin-bottom: 2%;
	margin-top: 0.8%;
	width: 15%;
	right: 50%;
	order: 1;
}

header nav {
	order: 0;
}

/* ######################### le menu burger ###################### */

nav {
    position: relative;
}


nav .divBurger {
    position: fixed;
    top: 0;
    left: -260px;
    width: 260px;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;

    padding-top: 80px;
    border-right: 2px solid black;
    transition: left 0.4s ease;
    z-index: 999;
    box-sizing: border-box; 
}


nav .divBurger a {
    width: 100%;
    box-sizing: border-box;
    padding: 15px 20px;

    text-decoration: none;
    color: black;
    font-size: 1.2em;

    border-bottom: 1px solid #ddd;
}


nav .divBurger a:hover {
    background-color: #f2f2f2;
    color: #42ae5c;
}


label {
    position: relative;
    display: block;
    color: black;
    cursor: pointer;
    font-size: 40px;
    padding: 10px;
    z-index: 2000;
}


#toggle {
    display: none;
}


#toggle:checked + .divBurger {
    left: 0;
}


#toggle:checked ~ label {
    position: fixed;
    left: 260px;     
    top: 10px;
    font-size: 35px;
    transform: rotate(90deg);
    z-index: 2001;    

}

/* ######################## fin menu burger, main ############################# */



/* ############################## caroussel pour les menus ########################### */


.divContenantContenant {
	width: 100%;
	height: 70em;  
	margin-bottom: 3.3%;
	align-items: center;
	justify-content: center;
	padding: 30px 10px;
	background-color: white;
}

.labelCarte {
  position: relative;
  width: 100%;
  height: 25%;
  left: 0;
  right: 0;
  margin: auto; 
  margin-bottom: 3%;
  border-radius: 20px;
  background-color: #dec22c;
}

.container {
  width: 100%;
  height: 83%;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cards {
  position: relative;
  width: 60%;
  height: 130%;
  margin: auto;
  margin-bottom: 20px;
}

.container h1 {	
  margin-bottom: 5%;
  text-decoration: underline;
}

.container a {
  background-color: #42ae5c;
  border-radius: 20px;
  padding: 1%;
  font-size: xx-large;
  text-decoration: none;
  color: black;
  margin-top: 0;
}

label > img {
  width: 300px;
  border-radius: 10px;
  object-fit: cover;
  float: left;
  margin-right: 2%;
  margin-bottom: 2%;
}

label > section {
  width: 60%;
  float: right;
  font-size: 50%;
}

section > h3 {
  margin-top: 14%;	
  font-size: 190%;
}

.divPriseRdv{
	width: 100%;
	margin-bottom: 2%;

}

.aPrendreRdv{
	text-decoration: none;
	background-color: #42ae5c;
	padding: 1%;
	padding-left: 4%;
	padding-right: 4%;
	margin-right: 2%;
	margin-bottom: 2%;
	border-radius: 10px;
	font-size: 140%;
	color: white;

	position: relative;
	left: 40%;
}

/*footer */

footer {
  width: 100%;
  background-color: #d6d6d6;
  padding: 3px;
  margin-top: 30px;
  position: relative;
  bottom: 0;
  overflow: auto;
}

.aContact {
	text-decoration: none;
	background-color: #42ae5c;
	padding: 1%;
	padding-left: 2%;
	padding-right: 2%;
	float: right;
	margin-right: 2%;
	margin-bottom: 1%;
	margin-top: 0.8%;
	border-radius: 25px;
	font-size: 100%;
	color: white;
}

.aMentions {
	float: right;
	text-decoration: none;
	padding: 1%;
	margin-right: 2%;
	margin-bottom: 1%;
	margin-top: 0.8%;
	padding-left: 2%;
	padding-right: 2%;
	border-radius: 25px;
	font-size: 100%;
	color: white;
	background-color: #dec22c;
}
